  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  img {
    max-width: 100%;
  }
  .image {
    flex-basis: 50%;
  }
  .text {
    padding-left: 20px;
    padding-right: 20px;
  }

.aboutMeDef {
  padding-left: 20px;
  font-size: 30px;
}

.steps {
  padding-right: 20px;
  font-size: 30px;
}