  *{
      display: flex;
  }

  .navbar{
      display:flex;
      width: 100%;
  }

  .img-container {
    position: relative;
    text-align: center;
    color: white;
  }

  #images img{
    white-space: nowrap;
    flex-basis: 50%
  }

  .img-3 .img-2 .img-1 {
    max-width: 33%;
  }

  h1 {
    text-align: center;
    padding-top: 50px;
  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  /* .img-2 .img-3 {
    width: 100%;
  } */
  /* .image #img{
    display: none !important;
  } */
}


  /*Desktop Styles */
 @media only screen and (min-width: 961px) {
      /* .img-container {
        display: none !important;
      } */
   }