  *{
      display: flex;
  }

  .navbar{
      display:flex;
      width: 100%;
  }

  .img-container {
    position: relative;
    text-align: center;
    color: white;
  }

  .center-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #images img{
    white-space: nowrap;
  }

  h1 {
    text-align: center;
    padding-top: 50px;
  }

  /* .text {
      font-size: 30px;
      padding-left: 20px;
      justify-content: center;
      
  } */
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    .image #img{
      display: none !important;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .image #img{
    display: none !important;
  }
}


  /*Desktop Styles */
 @media only screen and (min-width: 961px) {
      .img-container {
        display: none !important;
      }
   }